.products {
  margin: 0px 16px;
  h4 {
    color: #191919;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
  }
}

.products-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
}
