//! Carousel Section
.carousel {
  background: white;
  position: relative;
  width: 100%;
  padding-top: 45px;
  .image-form {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 40px;
    z-index: 80;
  }
}
.image{
  img{
    object-fit: cover
  }
}
.blur {
  background: linear-gradient(
    90deg,
    rgb(93, 62, 188) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 500px;
  position: absolute;
  top: 45px;
  z-index: 77;
}
.advertisement {
  div {
    width: 300px;
    color: white;
    font-weight: 900;
    margin-top: 30px;
  }
}
.intro-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  padding: 24px;
  margin-right: 14px;
  h5 {
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    font-weight: 700;
    color: #7849f7;
  }
}
.form {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
}
.auth-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: #7849f7;
  background: #ffd300;
  margin-top: 6px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 16px;
  cursor: pointer;
  transition: 0.2s;
}
.auth-button:hover {
  background-color: #7849f7;
  color: #f1d445;
}
//! CAROUSEL SECTİON
@media only screen and (max-width: 768px){
  .image{
    display: none;
  }
  .carousel{
    .image-form{
      position: relative;
      height: 100%;
      padding: 0;
    }
  }
  .login-form{
    width: 100%;
    margin: 0;
  }
}