

@media only screen and (max-width: 1400px) {
  .container {
    padding: 0px 12%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0px 20px;
  }
  .right {
    width: 24%;
  }
  .right ul li p {
    display: none;
  }
  .product-categorys {
    grid-template-columns: repeat(8, 1fr);
  }
  .footer-about {
    padding: 20px;
  }
  .banners {
    grid-template-columns: repeat(2, 1fr);
    img {
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .right {
    display: none;
  }
  .banners {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    display: flex;
    margin: 0 auto;
  }
  .left {
    display: block;
    width: 0px;
  }
  .carousel {
    width: 100%;
  }
  .container {
    padding: 10px;
  }
  .nav-categorys {
    display: none;
  }
  .product-categorys {
    grid-template-columns: repeat(4, 1fr);
  }
  .campaigins h6 {
    display: none;
  }
  .advertisement {
    display: none;
  }
  .login-form {
    margin: 0 auto;
  }
  .properties {
    display: flex;
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
