//! NAVBAR SECTİON
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4c3398;
  color: #dbdbff;
  height: 45px;
  position: fixed;
  padding: 0px 17.5%;
  z-index: 999;
  width: 100%;
}
.nav-categorys {
  padding: 0;
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    margin: 0px 0.5px;
    list-style: none;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0px 20px;
  }
  li:nth-child(1) {
    background-color: #5d3ebc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  li:hover {
    background: #5D3EBC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor:pointer;
  }
}
.left {
  display: flex;
  align-items: center;
  width: 65%;
}
.right {
  width: 35%;
  ul {
    display: flex;
    font-size: 14px;
    font-weight: bolder;
    justify-content: end;
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      width: 120px;
    }
  }
}
.logo {
  display: none;
}
//!NAVBAR SECTİON

@media only screen and (max-width: 1240px) {
  .navbar {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .right ul li {
    width: 50px;
    height: 36px;
    p {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .navbar {
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
