//! NAVBAR SECTİON
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4c3398;
  color: #dbdbff;
  height: 45px;
  position: fixed;
  padding: 0px 17.5%;
  z-index: 999;
  width: 100%;
}
.nav-categorys {
  padding: 0;
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    margin: 0px 0.5px;
    list-style: none;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 0px 20px;
  }
  li:nth-child(1) {
    background-color: #5d3ebc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  li:hover {
    background: #5d3ebc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
  }
}
.left {
  display: flex;
  align-items: center;
  width: 65%;
}
.right {
  width: 35%;
  ul {
    display: flex;
    font-size: 14px;
    font-weight: bolder;
    justify-content: end;
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      width: 120px;
    }
  }
}
.drop-menu {
  background: white;
  height: 376px;
  width: 260px;
  position: absolute;
  margin-top: 42px;
  border-radius: 0px 0px 4px 4px;
  transition: 0.3s;
  opacity: 0;
  header {
    background: #f3f0fe;
    display: flex;
    align-items: center;
    padding: 16px;
    height: 72px;
    margin-bottom: 8px;
    figure {
      width: 40px;
      height: 40px;
      background: white;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      font-weight: 400;
      span:nth-child(1) {
        color: #191919;
      }
      span:nth-child(2) {
        color: #697488;
        font-size: 12px;
      }
    }
  }
  div {
    color: #191919;
    font-weight: 400;

    li {
      width: 100%;
      display: flex;
      justify-content: start;
      padding: 8px 16px;
      line-height: 24px;
    }
    li:hover {
      background: rgb(241, 238, 243);
    }
  }
}
.open-drop-menu {
  opacity: 1;
}
.logo {
  display: none;
}
.down-arr {
  transition: .4s;
}
.rotate-arr {
  transform: rotate(-180deg);
}
//!NAVBAR SECTİON

@media only screen and (max-width: 1240px) {
  .navbar {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .right ul li {
    width: 50px;
    height: 36px;
    p {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .navbar {
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
