//!FOOTER SECTİON
.footer {
  padding: 20px 0px;
  background: white;
  .contents {
    display: flex;
    justify-content: end;
    div {
      width: 20%;
      height: 246px;
      margin-right: 24px;
      p {
        margin: 0 0 15px 0;
        color: #5d3ebc;
        font-weight: 500;
        font-size: 18px;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: 14px;
          margin-bottom: 15px;
          cursor: pointer;
        }
      }
    }
    span {
      width: 10%;
      button {
        border-radius: 8px;
        border: none;
        outline: none;
        background: #fff;
        padding: 16px;
        box-shadow: 2px 2px 30px 0px rgba(48, 48, 48, 0.152);
      }
    }
  }
}
.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  .footer-c {
    border-top: 1px solid #f3f0fe;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0px 17%;
    padding: 24px 0px;
    div {
      display: flex;
      font-size: 13px;
      li {
        color: #5d3ebc;
      }
      span {
        color: rgb(82, 82, 82);
        margin-right: 12px;
      }
    }
  }
}
.footer-icons {
  display: flex;
  align-items: center;
  p{
    margin: 0;
  }
  li {
    margin: 0px 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
}
.footer-lang-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #f3f0fe;
  padding: 6px 12px;
  background: white;
  color: #697488;
  transition: .2s;
  p{
    margin-left: 3px;
  }
}
.footer-lang-btn:hover{
 color: rgb(93, 62, 188); 
 background: #F3F0FE;
 cursor: pointer;
}
//!FOOTER SECTİON

@media only screen and (max-width: 1264px) {
  .footer {
    .contents {
      span {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .contents{
    flex-direction: column;
    text-align: center;
  }
  .footer{
    flex-direction: column;
    text-align: center;
    .contents{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      div{  
        width: 100%;
        margin: 0;
      }
    }
  }
  .contents div:nth-child(1){
    display: none
  }
  .footer-about{
    .footer-c{
      margin: 0 20px;
    }
  }
  .footer-icons {
    button{
      width: 100%;
      p{
        display: none;
      }
    }
  }


}